* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }

.banner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
}



