
.nav-list {
    background: white;
    box-shadow: 0px 0px 10px #cfd8dc;
    padding: 1rem 0;
    border-radius: 0.2rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    height: auto;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
    background-color: white;
}
  
.nav-item a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
}
  
.nav-item a:hover {
    color: #ed1c24;
}
  
.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}
  
.btn-primary {
    font-size: 1rem;
    background: #ed1c24;
    border: none;
    outline: none;
    border-radius: 0.2rem;;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}
  
.btn-primary:hover {
    background: black;
    color: white
}

.btn-post {
    font-size: 1rem;
    background: black;
    color:white;
    border: none;
    outline: none;
    border-radius: 0.2rem;;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    margin-left: 1rem;
}
  
.btn-post:hover {
    background: #ed1c24;
    color: black
}

  .banner {
    background-color:black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
}

.search-form {
	width: 100%;
	margin-top: 10px;
}

input[type="search"] {
	box-sizing: border-box;
	background: lightgrey;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0.35em 0.75em;
	border: none;
	font-size: 1.1em;
	text-decoration: none;
	line-height: normal;
	max-height: 3em;
  border-radius: 0.2rem;
}

.search-form {
	display: flex;
	flex-wrap: wrap;
}

input[type="search"] {
	flex: 2 0 250px;
}

.blocks {
    display: flex;
    flex-flow: row wrap;
}

.block {
    flex: 1 1 calc(50% - 1rem);
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    padding: 1rem 1rem 3rem;
    position: relative;
    background: #fff;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    box-shadow: 0px 0px 10px #cfd8dc;
}

.block h1 {
    color: #444;
    font-size: 24px;
    margin-bottom: 0;
    margin-left: 1rem;
    text-decoration: underline;
}

.block p {
    margin-left: 1rem;
    margin-right: 1rem;
}

.block h3{
    margin-left: 1rem;
    margin-right: 1rem; 
}

.saleheading{
    font-size:24px;
}

.heading-list{
    background: white;
    box-shadow: 0px 0px 10px #cfd8dc;
    padding: 1rem 0;
    border-radius: 0.2rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.heading-item {
    list-style: none;
}

.heading-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}

.btn-add-post {
    font-size: 1rem;
    background: black;
    color:white;
    border: none;
    outline: none;
    border-radius: 0.2rem;;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    margin-right: 1rem;
}

.btn-add-post:hover {
    background: #ed1c24;
    color: black
}

.card {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom:3em;
    border-radius: 10px;
    background-color: white;
    padding: 1.8rem;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding-bottom: 3rem;
}

.form-subtitle {
    text-align: center;
    font-weight: bold;
}

.link-subtitle {
    display:block;
    text-align: center;
    font-weight: bold;
    padding-bottom: 3rem;
}

.form-fields {
    display: flex;
    flex-direction: column;
}

.form-fields label {
    color: rgb(170 166 166);
}

input[type="text"],
input[type="password"] {
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.btn-form {
    background-color: #ed1c24;
    color: white;
    padding: 18px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.btn-login:hover {
    background: black;
    color: white
}

hr{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.btn-view {
    font-size: 1rem;
    background: #ed1c24;
    border: none;
    outline: none;
    border-radius: 0.2rem;;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    margin-left: 1rem;
}

.btn-view:hover {
    background: black;
    color: white
}

.message-heading{
    font-size: 50px;
    text-decoration: underline;
    padding-bottom: 3rem;
}

textarea{
    margin-left: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inbox-heading{
    font-size:24px;
    margin-left: 1rem;
}

.inbox-list{
    background:black;
    color: white;
    box-shadow: 0px 0px 10px #cfd8dc;
    padding: 1rem 0;
    border-radius: 0.2rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inbox-item {
    list-style: none;
}

.inbox-p{
    margin-left: 1rem;
}